body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #0DDDD0;
}
div.MM {

    margin-left: auto;
    margin-right:auto;
width: 6em;
}

.title{
left:0;
right:0;
    text-align: center;
}

p.blocktest {
    text-align: left;
    color: rgb(0,0,0);
    text
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

 .nav li {
    float: left;
}

 .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 .nav li a:hover {
    background-color: #111;
}

body .container{
    margin-top: 20px;
    top: 20px;
    width:800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
}

.container .content{

    padding: 20px;
    margin: 20px 20px 20px 20px;
    top: 20px;
    background-color: #FFF;
}
.container .content .content-body{

    padding: 20px;
    margin: 20px 20px 20px 20px;
    top: 20px;
    font-weight: normal;
    font-size:15px;
    background-color: #FFF;
}
